.search-box {
  background-color: white;
  border-radius: 5px;
  margin-left: 25px;
}

.toolbar{
  position: fixed;
  /* position: sticky; */
  width : 100%;
  z-index:10;
}
.md-sidenav-left {
    margin-top: 65px;
    width: 250px;
    position: fixed;
  }

.sidebar-para {
  margin-left: 30px;
  margin-bottom: 0px;
}

.input-placeholder {
  border: none;
  outline: none;
}

/* [content-editable]:empty::before {
  content: attr(data-placeholder);
  font-weight: bold;
  color: #737373;
} */

div:empty:not(:focus):before {
    content: attr(data-placeholder);
    font-weight: bold;
    color: #737373;
    border:none;
    outline: none;
}

.profile-image{
  border-radius: 10px;

}

.hide-file {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 24px;
  width: 100%;
}
.box {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
}

/* .intial-text after-click{
  width: :100px;
} */

.profileDialgue{
  width: 400px;
}

.CreateLabel {
  height: 400px;
  width: 300px;
}
.button {
  width: 20px;
  text-align: center;
}

.mdcard{
  width:250px;
  height: fit-content;
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:300px;
  height:350px;
}

.container {
position: relative;
width: 100%;
/* max-width: 400px; */
padding-right: 0px;
padding-left: 0px;
margin-right: 0px;
margin-left: 0px;
}

.container img {
width: 100%;
height: 100%;
}

.btn {
position: absolute;
top: 10%;
left: 85%;
display: inline-block;
transform: translate(-50%, -50%);
color: white;
cursor: pointer;
}

.deletebtn {
position: absolute;
top: 90%;
left: 85%;
display: inline-block;
transform: translate(-50%, -50%);
color: white;
cursor: pointer;
}

/* .intial-text after-click{
  outline: none;
} */
.img-icon{
  padding: 0px !important;
  margin: 0px !important;
  width:35px !important;
}
.image-size{
  margin: 0px;
}

.md-chips md-chip{
  border-radius: 0px;
      font-size: 12px;
      line-height: 0px;
}
.md-chips{
  box-shadow: 0 0px !important;
  height: 0px !important;
}

.cancelicon{
  font-size: 15px;
  padding: 0px;
  margin: 2px;
line-height: 0px !important;
}
.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}
.chip{
  font-size: 15px!important;
  height: 24px !important;
  padding: 10px 2px 0px 2px !important;
  margin: 2px 0px 2px 0px !important;
}


.app img {
    display: block;

    width: 200px;
}

.app img.large {
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    position: absolute;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.app img.expanded {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
    left: 0 !important;
    top: 0 !important;
    width: 100%;
}

.moreClass {
  height: 120px;
  width: 150px;
  padding: 10px 15px;
}

.labelPanel {
  background-color: white;
  position: absolute;
  width: 200px;
  z-index: 5003;
  padding: 10px 10px 15px 10px;
}
