<md-dialog aria-label="Label" class="label-dialog">
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-subheader class="label-header">Label notes</md-subheader>
            <div layout="row" layout-align="start space-between">
                <input type="text" style="border: none;outline: none;margin-left: 15px;" placeholder="Enter label name"  ng-maxlength=25 >
                <md-button class="md-icon-button md-icon-right" style="margin: 0 auto;padding: 0px;">
                    <md-icon><i class="material-icons">search</i></md-icon>
                </md-button>
            </div>
            <span style="text-align: center;color: red;margin-left: 15px;">{{error}} </span>

            <div  layout="row" layout-align="start space-around" style="margin-left: 15px;"  ng-repeat="label in label1">
                        <md-checkbox ng-click="addNoteLabel(note,label)">
                            {{ label.label }} <!--<span ng-if="exists(item, selected)">selected</span>-->
                        </md-checkbox>
            </div>

            <div  layout="row" layout-align="start end" ng-show="labelModel.labelName">
               <div ng-click="addLabel(labelModel)" contenteditable="true" ng-maxlength=25 style="outline: none;border: none;cursor: pointer" convert-new-lines="true">
                    <span><md-icon><i class="material-icons" style="margin: 0px auto;padding: 0px;">add</i></md-icon>create</span>
                     <b style="margin: 0px auto;padding: 0px">"{{label.label}}"</b>
                </div>

            </div>

        </div>
    </md-dialog-content>
</md-dialog>
