<div style="width:100%;padding-top:65px"  layout = "column"  layout="row" layout-xs='column' layout-align="center-center" layout-wrap  style="padding-top:65px;">
    <div id ="myDiv" layout="row"  style="width:800px"  layout-wrap>
    <md-card style="width:250px;" ng-repeat="notes in allNotes | filter :{ isArchived: true,isTrashed:false}" ng-style="{'background-color': notes.color}" ng-click="showDialogue($event,notes)">
      <div layout="row" layout-align="space-between center">
        <div>
          <p ng-bind-html="notes.title"> </p>
        </div>
        <div>
          <md-button class="md-icon-button" ng-click="updatePin(notes)">
            <img ng-if="notes.isPinned === true"  src="images/bluePin.svg">
              <img ng-if="notes.isPinned === false"  src="images/pin.svg">
          </md-button>
          <md-tooltip>Pin Note</md-tooltip>
        </div>
      </div>
      <div style=" font-family: Arial, Helvetica, sans-serif; word-wrap:break-word;font-weight: bold;font-size: 30px;">
        <strong ng-bind-html="notes.description"></strong></div>
      <div style="height:80px" ng-mouseover="first=true" ng-mouseout="first=false">
        <div ng-show="first">
            <icons></icons>
          <unarchiveicon></unarchiveicon>
          <md-menu>
    <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-click="$mdMenu.open($event)">
      <md-icon><img src="images/more.svg" /></md-icon>
    </md-button>
    <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
      <md-menu-item ng-repeat="item in menuList">
        <md-button ng-click="ctrlNote($index,notes)">
        {{item.option}}
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
        </div>
      </div>
    </md-card>
  </div>
</div>
