<md-dialog style="width:550px;height:250px;">
<div class="md-dialog-content">
<div><strong>Collaberator</strong></div>
<md-divider></md-divider>
<div layout="row" >
  <div style="width:40px;height:40px;border-radius:40px;border: 1px solid rgba(0,0,0,.5); margin-top: 10px; ">
  <md-icon style="margin-top: 6px;margin-left: 5px;" ><img src="images/collaberator.svg"></md-icon>
  </div>
  <md-input-container>
      <input list="emaillist" placeholder="Person or email to share with" ng-model="sharedEmail"/>
      <datalist id="emaillist">
    <option ng-repeat="email in emails" value="{{email.value}}">{{email.name}}</option>
    </datalist>
  </md-input-container>
  <div style="margin-top:15px">
    <md-icon ng-click="addCollaberator()"><i class="material-icons">done</i></md-icon>
    <md-tooltip>Add collaberator</md-tooltip>
  </div>
  <!-- <div>
    <md-icon><i class="material-icons">cancel</i></md-icon>
  </div> -->
</div>
</div>
</md-dialog>
