<div flex="100" style="padding-top:65px;" layout="column" layout-align="center center">
  <div id="myDiv" style="margin-top:40vh" flex = "70" layout-align="center center">
    <div layout="row" style="width:800px" layout-align="center center">
      <md-card style="width:550px;height:50px;" ng-show="!showCard">
        <div layout="row" layout-align="space-between center" style="">
          <input type="text" placeholder="Take a note....." style="border:none;width:200px" ng-click="showCard=true" />
          <div layout="row" style="width:150px">
            <md-button class="md-icon-button">
              <img src="images/list.svg">
              <md-tooltip>New List</md-tooltip>
            </md-button>
            <md-button class="md-icon-button">
              <img src="images/add-image.svg">
              <md-tooltip>New note with image</md-tooltip>
            </md-button>
            <md-button class="md-icon-button">
              <md-icon><i class="material-icons not-allowed">edit</i></md-icon>
              <md-tooltip>Drawing is not available</md-tooltip>
            </md-button>
          </div>
        </div>
      </md-card>
    </div>

    <div flex="70" layout-align="center-center ">
      <md-card style="width:550px" ng-style="{'background-color':color}" ng-show="showCard">
        <div layout="row" layout-align="space-between center">
          <div id="title" contenteditable data-placeholder="Title" style="border:none;outline:none;margin-left:10px" ng-model="noteTitle"></div>
          <div>
            <md-button class="md-icon-button" ng-click="updatePin(notes)">
              <img src="images/pin.svg" />
            </md-button>
            <md-tooltip>Pin Note</md-tooltip>
          </div>
        </div>
        <div class="intial-text after-click" contenteditable id="description"  data-placeholder="Take a note....." style="border:none;outline:none;margin-left:10px" ng-model="noteDesc"></div>
        <div layout="row" layout-align="space-between center">
          <div layout="row">
            <icons></icons>
            <archiveicon></archiveicon>
            <!-- <md-button class="md-icon-button">
            <md-icon><img src="images/reminder.svg" /></md-icon>
            <md-tooltip>Remind me</md-tooltip>
          </md-button>
          <md-button class="md-icon-button">
            <md-icon><img src="images/collaberator.svg" /></md-icon>
            <md-tooltip>Collaberator</md-tooltip>
          </md-button>
          <md-menu>
            <md-button class="md-icon-button" ng-mouseenter="$mdMenu.open()">
              <md-icon><img src="images/change-color.svg" /></md-icon>
              <md-tooltip>Change color</md-tooltip>
            </md-button>
            <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
              <md-menu-item ng-repeat="array in colorList">
                <div ng-repeat="object in array" class="box" ng-style="{'background-color': object.color}" ng-click="updateNotecolor(notes.noteId,notes,object.color)"></div>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-button class="md-icon-button">
            <md-icon><img src="images/add-image.svg" /></md-icon>
            <md-tooltip>Add image</md-tooltip>
          </md-button>
          <md-button class="md-icon-button" ng-click="archiveNote(notes.noteId,notes,true)">
            <md-icon><img src="images/archive.svg" /></md-icon>
            <md-tooltip>Archive</md-tooltip>
          </md-button> -->
            <md-menu>
              <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-click="$mdMenu.open()">
                <md-icon><img src="images/more.svg" /></md-icon>
              </md-button>
              <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
                <md-menu-item>
                  <md-button ng-click="showAddlabelDialogue($event)">
                    Add Label
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="">
                    Check Box
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
          <div>
            <md-button ng-click="showCard=false; createNote();">
              CLOSE
            </md-button>
          </div>
        </div>
      </md-card>
    </div>

    <div ng-show="showPinned">
      <md-subheader><strong>Pinned</strong></md-subheader>
      <div layout="row" style="width:800px" layout-wrap>
        <md-card class="mdcard" style="" ng-repeat="notes in allNotes| filter :{ isArchived: false ,isTrashed:false,isPinned:true}" style="width:250px;" ng-style="{'background-color': notes.color}">
    <md-card-content ng-click="showDialogue($event,notes)">
          <div layout="row" layout-align="space-between center"  >
            <div>
              <div class="intial-text after-click" contenteditable>{{notes.title}}</div>
            </div>
            <div>
              <md-button class="md-icon-button" ng-click="updatePin(notes)">
                <img ng-if="notes.isPinned === true" src="images/bluePin.svg">
                <img ng-if="notes.isPinned === false" src="images/pin.svg">
              </md-button>
              <md-tooltip>Pin Note</md-tooltip>
            </div>
          </div>
          <div contenteditable style=" font-family: Arial, Helvetica, sans-serif; word-wrap:break-word;font-weight: bold;font-size: 30px;" ng-bind-html="notes.description"></div>
          <div>
          </div>


      <!-- <div style="">
        <md-chips ng-model="noteLabels" readonly="true" md-removable="true">
          <md-chip-template>
            <strong>{{$chip.label}}</strong>
          </md-chip-template>
        </md-chips>
      </div> -->
        </md-card-content>
        <md-chips ng-if="notes.reminder" readonly="true">
         <md-chip ><md-icon>schedule</md-icon>{{notes.reminder|date:" MMMM d"}}  {{notes.remindertime}}<md-icon class="cancelicon" ng-click="removeReminder($event,notes)">cancel</md-icon></md-chip>
       </md-chips>
          <div style="height:80px" ng-mouseover="first=true" ng-mouseout="first=false">
            <div ng-show="first">
              <icons></icons>
              <archiveicon></archiveicon>
              <md-menu>
                <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-click="$mdMenu.open($event)">
                  <md-icon><img src="images/more.svg" /></md-icon>
                </md-button>
                <md-menu-content width="4" ng-click="$mdMenu.close($event)">
                  <md-menu-item ng-repeat="item in menuList">
                    <md-button ng-click="ctrlNote($event,$index,notes)">
                      {{item.option}}
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </div>
        </md-card>
      </div>
    </div>




    <div ng-show="showOther">
      <md-subheader><strong>Other</strong></md-subheader>
      <!-- <div layout="row" layout-xs='column' layout-wrap class="md-padding" style="margin-left:150px"> -->
      <div layout="row" style="width:800px" layout-wrap>
        <md-card class="mdcard" style="" ng-style="{'background-color': notes.color}"  ng-repeat="notes in allNotes | filter :{ isArchived: false ,isTrashed:false,isPinned:false} ">
         <md-card-content ng-click="showDialogue($event,notes)" >
        <div layout="row" layout-align="space-between center">
            <div>
              <div class="intial-text after-click" contenteditable>{{notes.title}}</div>
              <!-- <div style=" font-family: Arial, Helvetica, sans-serif; word-wrap:break-word;font-weight: bold;font-size: 30px;"><strong> {{notes.description}} </strong></div> -->
            </div>
            <div>
              <md-button class="md-icon-button" ng-click="updatePin(notes)">
                <img ng-if="notes.isPinned === true" src="images/bluePin.svg">
                <img ng-if="notes.isPinned === false" src="images/pin.svg">
              </md-button>
              <md-tooltip>Pin Note</md-tooltip>
            </div>
          </div>
          <div contenteditable style=" font-family: Arial, Helvetica, sans-serif; word-wrap:break-word;font-weight: bold;font-size: 30px;">
            <strong ng-bind-html="notes.description">  </strong></div>
          </md-card-content>
            <md-chips ng-if="notes.reminder" readonly="true">
             <md-chip ><md-icon>schedule</md-icon>{{notes.reminder|date:" MMMM d"}} {{notes.remindertime}}<md-icon class="cancelicon" ng-click="removeReminder($event,notes)">cancel</md-icon></md-chip>
           </md-chips>

            <!-- <div style="">
              <md-chips ng-model="notes" readonly="true" md-removable="true">
                <md-chip-template>
                  <strong>{{$chip.reminder}}</strong>
                </md-chip-template>
              </md-chips>
            </div> -->

          <!-- <div style="">
            <md-chips ng-model="noteLabels" readonly="true" md-removable="true">
              <md-chip-template>
                <strong>{{$chip.label}}</strong>
              </md-chip-template>
            </md-chips>
          </div> -->
          <!-- <div ng-repeat="label in noteLabels">
            <div>{{label.label}}</div>
          </div> -->
          <div style="height:80px" ng-mouseover="first=true" ng-mouseout="first=false">
            <div ng-show="first">
              <icons></icons>
              <archiveicon></archiveicon>
              <md-menu>
                <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-click="$mdMenu.open($event)">
                  <md-icon><img src="images/more.svg" /></md-icon>
                </md-button>
                <md-menu-content width="4" ng-click="$mdMenu.close($event)">
                  <md-menu-item ng-repeat="item in menuList">
                    <md-button ng-click="ctrlNote($event,$index,notes)">
                      {{item.option}}
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </div>
        </md-card>
      </div>
    </div>





  </div>
</div>
