<div layout="row" layout-padding layout-align="space-around" class="login-div">
  <md-card class="padded md-whiteframe-24dp md-padding" style="width:400px;">
    <md-toolbar style="text-align:center;color:white;background-color:#ED9626">
      <h3><b>Forgot Password</b></h3>
    </md-toolbar>
    Enter the email to reset passsword
    <form role="form" name="forgotpasswordForm">
      <md-input-container class="md-block" >
        <input required type="email" name="userEmail" id="email" ng-model="userEmail" placeholder="Email" ng-pattern="/(^[\w]+@+[a-zA-Z]+\.+[a-zA-z]{2,3})$/" style="max-width:1500px;" />
        <div ng-messages="forgotpasswordForm.userEmail.$error" >
          <div ng-message-exp="['required','pattern' ]">
            Invalid Email.
          </div>
        </div>
      </md-input-container>
  <md-button type="submit" class="md-raised md-primary button" ng-disabled="!forgotpasswordForm.$valid"
  ng-click=" forgotPassword()"
   style="margin:auto;display:block">ForgotPassword</md-button>
 </form>
</md-card>
</div>
