<md-button class="md-icon-button">
  <md-icon><img src="images/reminder.svg" /></md-icon>
  <md-tooltip>Remind me</md-tooltip>
</md-button>
<md-button class="md-icon-button">
  <md-icon><img src="images/collaberator.svg" /></md-icon>
  <md-tooltip>Collaberator</md-tooltip>
</md-button>
<md-menu>
  <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
    <md-icon><img src="images/change-color.svg" /></md-icon>
    <md-tooltip>Change color</md-tooltip>
  </md-button>
  <md-menu-content width="4" ng-click="$mdMenu.close($event)">
    <md-menu-item ng-repeat="array in colorList">
      <div ng-repeat="object in array" class="box"
            ng-style="{'background-color': object.color}"
            ng-click="updateNotecolor(notes,object.color)">
        </div>
    </md-menu-item>
  </md-menu-content>
</md-menu>
<md-button class="md-icon-button">
  <md-icon><img src="images/add-image.svg" /></md-icon>
  <md-tooltip>Add image</md-tooltip>
</md-button>
<!-- <md-button class="md-icon-button" ng-click="archiveNote(notes)">
  <md-icon><img src="images/archive.svg" /></md-icon>
  <md-tooltip>Archive</md-tooltip>
</md-button> -->
