<md-dialog class="CreateLabel">
  <md-dialog-content>
    <div class="md-dialog-content">
      <md-subheader class="label-header">Edit labels</md-subheader>
      <div layout="row" layout-align="start center">
        <md-button style="margin: 0 auto;padding: 0px;" class="md-icon-button md-icon-left" ng-click="changeIcon()" ng-show="close">
          <md-icon><i class="material-icons">close</i></md-icon>
        </md-button>
        <md-button style="margin: 0 auto;padding: 0px;" class="md-icon-button md-icon-left" ng-click="changeIcon()" ng-show="add">
          <md-icon><i class="material-icons">add</i></md-icon>
        </md-button>
        <input type="text" style="border:none;outline: none;" ng-model="label" placeholder="Create new label"
        ng-click="changeIcon()" />
        <md-button class="md-icon-button md-icon-right" ng-click="addLabel()" style="margin: 0 auto;padding: 0px;" ng-show="done">
          <md-icon><i class="material-icons">done</i></md-icon>
        </md-button>
      </div>
      <div layout="row" layout-align="start" ng-repeat="label in allLabels" ng-mouseover="beforeEdit(label)" ng-mouseout="afterEdit(label)">
        <md-button style="margin: 0px auto;padding: 0px" class="md-icon-button md-icon md-icon-left" ng-show="label.showDelete">
          <md-icon ng-click="deleteLabel(label)"><i class="material-icons" >delete</i></md-icon>
        </md-button>
        <md-button style="margin: 0px auto;padding: 0px 0px" class="md-icon-button md-icon md-icon-left" ng-show="label.showLabel" >
          <md-icon><i class="material-icons">label</i></md-icon>
        </md-button>
        <input  type="text" style="border:none;outline: none;" ng-model="label.label"  />
        <md-button style="margin: 0px auto;padding: 0px;" class="md-icon-button md-icon md-icon-right" ng-show="showCreate">
          <md-icon><i class="material-icons" ng-click="beforeEdit(label);updateLabel(label);" >create</i></md-icon>
        </md-button>
        <md-button class="md-icon-button md-icon-right"  style="margin: 0 auto;padding: 0px;" ng-show="label.showDone">
          <md-icon><i class="material-icons" >done</i></md-icon>
        </md-button>
      </div>
      <div layout="row" layout-align="end end">
        <md-button ng-click="hideDialogueBox()">
          <strong>Done</strong>
        </md-button>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
