<md-dialog class="CreateLabel">
  <md-dialog-content>
    <div class="md-dialog-content">
      <md-subheader class="label-header">Edit labels</md-subheader>
      <div layout="row" layout-align="start center">
        <md-button style="margin: 0 auto;padding: 0px;" class="md-icon-button md-icon-left" ng-click="changeIcon()" ng-show="close">
          <md-icon><i class="material-icons">close</i></md-icon>
        </md-button>
        <md-button style="margin: 0 auto;padding: 0px;" class="md-icon-button md-icon-left" ng-click="changeIcon()" ng-show="add">
          <md-icon><i class="material-icons">add</i></md-icon>
        </md-button>
        <input type="text" style="border:none;outline: none;" ng-model="label" placeholder="Create new label"
        ng-click="changeIcon()" />
        <md-button class="md-icon-button md-icon-right" ng-click="addLabel()" style="margin: 0 auto;padding: 0px;" ng-show="done">
          <md-icon><i class="material-icons">done</i></md-icon>
        </md-button>
      </div>

      <div layout="row" layout-align="start" ng-repeat="label in allLabels" ng-mouseover="beforeEdit(label)" ng-mouseout="afterEdit(label)">
        <md-button style="margin: 0px auto;padding: 0px" class="md-icon-button md-icon md-icon-left" ng-show="label.showDelete">
          <md-icon ng-click="deleteLabel(label)"><i class="material-icons" >delete</i></md-icon>
        </md-button>
        <md-button style="margin: 0px auto;padding: 0px 0px" class="md-icon-button md-icon md-icon-left" ng-show="label.showLabel" >
          <md-icon><i class="material-icons">label</i></md-icon>
        </md-button>
        <input  type="text" style="border:none;outline: none;" ng-model="label.label"  />
        <md-button style="margin: 0px auto;padding: 0px;" class="md-icon-button md-icon md-icon-right" ng-show="showCreate">
          <md-icon><i class="material-icons" ng-click="beforeEdit(label);updateLabel(label);" >create</i></md-icon>
        </md-button>
        <md-button class="md-icon-button md-icon-right"  style="margin: 0 auto;padding: 0px;" ng-show="label.showDone">
          <md-icon><i class="material-icons" >done</i></md-icon>
        </md-button>
      </div>
      <div layout="row" layout-align="end end">
        <md-button ng-click="hideDialogueBox()">
          <strong>Done</strong>
        </md-button>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>

<!-- <p> <strong>&nbsp;&nbsp;&nbsp;Edit Labels</strong></p>
  <div class="md-dialog-content">
    <md-button class="md-icon-button" data-ng-click="show=true" ng-show="!show">
      <md-icon><i class="material-icons">close</i></md-icon>
      <md-tooltip>Cancel</md-tooltip>
    </md-button>

    <md-button class="md-icon-button" data-ng-click="show=false" ng-hide="!show">
      <md-icon><i class="material-icons">add</i></md-icon>
      <md-tooltip>Cretae Lable</md-tooltip>
    </md-button> -->

<!-- <md-input-container >
      <input type="text" name="newlabel" ng-model="label" placeholder="<strong>Create New Label</strong>" style="width:160px;">
    </md-input-container>
    <md-button class="md-icon-button" ng-click="addLabel()">
      <md-icon><i class="material-icons">done</i></md-icon>
      <md-tooltip>Create Lable</md-tooltip>
    </md-button>
  </div> -->
<!-- <md-divider></md-divider>
  <div  ng-repeat="label in allLabels">
    <div layout="row">
    <div style="width:50px"><img src="images/installsoftwear.svg" ng-show="!showDelete" />
      <img src="images/delete.svg" ng-show="showDelete">
    </div>
    <div style="width:200px" ng-mouseover="showDelete = true" ng-mouseout="showDelete = false" >{{label.label}}</div>
    <div style="width:50px">
    </div>
    <md-button class="md-icon-button">
      <md-icon><i class="material-icons not-allowed">edit</i></md-icon>
      <md-tooltip>Drawing is not available</md-tooltip>
    </md-button>
  </div>
</div>
  <md-button class="button" ng-click="cancel()" >Done</md-button>
  <div>
</md-dialog> -->

<!-- <md-dialog aria-label="Label" class="label-dialog">
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-subheader class="label-header">Edit labels</md-subheader>
            <div layout="row" layout-align="start center">
                <md-button ng-click="changeIcon()" style="margin: 0 auto;padding: 0px;" ng-show="close" class="md-icon-button md-icon-left">
                    <md-icon><i class="material-icons">close</i></md-icon>
                </md-button>
                <md-button ng-click="changeIcon()" style="margin: 0 auto;padding: 0px;" ng-show="add" class="md-icon-button md-icon-left">
                    <md-icon><i class="material-icons">add</i></md-icon>
                </md-button>


                 <input type="text" style="border:none;outline: none;" ng-model="labelModel.labelName" placeholder="Create new label" />

                <md-button class="md-icon-button md-icon-right" ng-click="addLabel(labelModel);returnInfo()" style="margin: 0 auto;padding: 0px;" ng-show="done">
                    <md-icon><i class="material-icons">donee</i></md-icon>
                </md-button>
            </div>

            <div  layout="row" layout-align="start" ng-show="showLabelInfo" ng-repeat="label in label_info">


               <md-button ng-show="label.editable"  ng-mouseover="enableEdit(label)" ng-mouseleave="disableEdit(label)" ng-click="deleteDialog($event,label)"  style="margin: 0px auto;padding: 0px" class="md-icon-button md-icon md-icon-left">
                    <md-icon><i class="material-icons">delete</i></md-icon>
                </md-button>
                <md-button style="margin: 0px auto;padding: 0px 0px"   ng-show="labelDisplay && label.labelIcon" ng-mouseover="enableEdit(label)" ng-mouseleave="disableEdit(label)" class="md-icon-button md-icon md-icon-left">
                    <md-icon><i class="material-icons">label</i></md-icon>
                </md-button>

                 <input  type="text" ng-mouseover="enableEdit(label)" ng-mouseleave="disableEdit(label)" style="border:none;outline: none;" ng-model="label.labelName" />

                <md-button  ng-mouseover="enableEdit(label)" ng-mouseleave="disableEdit(label)" style="margin: 0px auto;padding: 0px;" class="md-icon-button md-icon md-icon-right">
                    <md-icon><i class="material-icons">create</i></md-icon>
                </md-button>

            </div>
            <div layout="row" layout-align="end end">
                <md-button class="label-btn" ng-click="addLabel(labelModel);returnInfo()">
                    <strong>Done</strong>
                </md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog> -->
