<div layout="row" layout-padding layout-align="space-around" class="login-div">
  <md-card class="md-whiteframe-24dp" style="width:400px">
    <!-- <md-content layout-padding> -->
    <md-toolbar style="text-align:center;color:white;background-color:#ED9626;">
      <h3><b>Login Form</b></h3>
    </md-toolbar>
    <form name="loginForm" class="loginform">

      <md-input-container class="md-block">
        <label>Email</label>
        <input required type="email" name="userEmail" id="email" ng-model="userEmail" ng-pattern="/(^[\w]+@+[a-zA-Z]+\.+[a-zA-z]{2,3})$/" style="max-width:1500px;" />
        <div ng-messages="loginForm.userEmail.$error" role="alert">
          <div ng-show="loginForm.userEmail.$invalid" ng-message-exp="['required', 'pattern']">
            Invalid e-mail address.
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <input required type="password" name="userPassword" id="password" ng-model="userPassword" class="form-control"
         placeholder="Password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" />
        <div ng-messages="loginForm.userPassword.$error" ng-if="loginForm.userPassword.$touched">
          <div ng-message-exp="['required','pattern' ]">
            Invalid password.
          </div>
        </div>
      </md-input-container>
      <a href="#!/forgotPassword">Forgot Password</a>
      <md-button class="md-raised md-primary" ng-disabled="!loginForm.$valid" ng-click="loginUser()"
      style="margin:auto;display:block" >Log-In</md-button>
      <div style="color: #616161" align="center">New to ToDo Application?
                <a href="#!/register">SignUp</a>
    </form>
  </md-card>
</div>
