<md-card style="width:500px;" ng-style="{'background-color': notes.color}">
  <div layout="row" layout-align="space-between center">
    <div>
      <div class="intial-text after-click" contenteditable id = "title1"  data-placeholder="Title" ng-model="notes.title"></div>
    </div>
    <div>
      <md-button class="md-icon-button" ng-click="updatePin(notes)" >
        <img src="images/pin.svg" />
      </md-button>
      <md-tooltip>Pin Note</md-tooltip>
    </div>
  </div>
  <div contenteditable id = "description1"  data-placeholder="Take a note............" ng-model="notes.description"></div>
    <div style="height:40px" layout="row" layout-align="space-between center">
      <div layout="row">
      <icons></icons>
      <archiveicon></archiveicon>
      <md-menu>
        <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-click="$mdMenu.open()">
          <md-icon><img src="images/more.svg" /></md-icon>
        </md-button>
        <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
          <md-menu-item ng-repeat="item in menuList">
            <md-button ng-click="ctrlNote($index,notes)">
              {{item.option}}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <!-- <md-button class="md-icon-button">
        </md-button> -->
    </div>
    <div>
      <md-button ng-click=" updateNote(notes); hideDialogueBox()">
        CLOSE
      </md-button>
    </div>
  </div>
</md-card>
