<div style="width:500px;" ng-style="{'background-color': notes.color}">
  <div layout="row" layout-align="end end">
    <md-button class="md-icon-button" ng-click="updatePin(notes)" >
      <img ng-if="notes.isPinned === true" src="images/bluePin.svg">
      <img ng-if="notes.isPinned === false" src="images/pin.svg">
    </md-button>
    <md-tooltip>Pin Note</md-tooltip>
  </div>
  <!-- <div layout="row" layout-align="space-between center"> -->
    <div ng-if="notes.image" >
        <img ng-src="{{notes.image}}" style="width:100%;">
      </div>
      <div layout="row" layout-align="end end">
        <md-button class="md-icon-button" ng-click="removeImage(notes)" >
          <md-icon><img src="images/delete.svg" /></md-icon>
        </md-button>
      </div>
    <div>
      <div class="intial-text after-click" contenteditable id = "title1"  data-placeholder="Title" ng-model="notes.title"></div>
    </div>

  <!-- </div> -->
  <div contenteditable id = "description1"  data-placeholder="Take a note............"
  style=" font-family: Arial, Helvetica, sans-serif; word-wrap:break-word;font-weight: bold;font-size: 30px;"  ng-model="notes.description"></div>
  <md-chips ng-if="notes.reminder" readonly="true">
    <md-chip>
      <md-icon>schedule</md-icon>{{notes.reminder|date:" MMMM d"}} {{notes.remindertime}}
      <md-icon class="cancelicon" ng-click="removeReminder($event,notes)">cancel</md-icon>
    </md-chip>
  </md-chips>

    <div  layout="row" layout-align="space-between center">
      <div layout="row">
      <icons></icons>
      <archiveicon></archiveicon>
      <md-menu>
        <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-click="$mdMenu.open()">
          <md-icon><img src="images/more.svg" /></md-icon>
        </md-button>
        <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
          <md-menu-item ng-repeat="item in menuList">
            <md-button ng-click="ctrlNote($index,notes)">
              {{item.option}}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
    <div>
      <md-button ng-click=" updateNote(notes); hideDialogueBox()">
        CLOSE
      </md-button>
    </div>
  </div>
</div>
