<div>
  <md-card class="demo-menu-example">
    <div style="padding:5px; width:250px;" ng-show="reminder">
      <div>Reminder:</div>
      <md-list>
        <md-list-item>
          <div layout=row layout-align="space-between center">
            <div>Later Today</div>
            <div>8.00 AM</div>
          </div>
        </md-list-item>
        <md-list-item>
          <div layout=row layout-align="space-between center">
            <div>Tomorrow</div>
            <div>8.00 AM</div>
          </div>
        </md-list-item>
        <md-list-item>
          <div layout=row layout-align="space-between center">
            <div>Next Week</div>
            <div>Mon,8.00 AM</div>
          </div>
        </md-list-item>
        <md-list-item ng-click="pickDateTime()">Pick date & time</md-list-item>
      </md-list>
    </div>
    <div ng-hide="reminder">
      <div style="padding:5px; width:300px; ">
        <md-icon ng-click="reminder=true" style="outline:none;">keyboard_backspace</md-icon>Pick date & time</div>
      <md-list>
        <md-list-item ng-click="null">
          <md-datepicker ng-model="reminderDate"></md-datepicker>
        </md-list-item>
        <!-- <md-list-item ng-click="null">Tommorow</md-list-item>
        <md-list-item ng-click="null">Next Week</md-list-item>
        <md-list-item ng-click="null">Home</md-list-item>
        <md-list-item ng-click="null">Pick date & time</md-list-item> -->
      </md-list>
    </div>
  </md-card>
</div>



<!-- <md-menu-item ng-click="null">

</md-menu-item>
<md-menu-item ng-click="null">

</md-menu-item>
<md-menu-item>

</md-menu-item>
