<!-- <div style="width:300px;height:550px">
  <md-menu-item ng-click="null">
    <div layout=row>
      <div>
        <md-icon><img src="images/arrowback.svg" /></md-icon>
        Pick Date and Time</div>
    </div>
  </md-menu-item>
  <md-menu-item ng-click="null">
    <div layout=row>
      <md-datepicker ng-model="Date" md-placeholder="Enter date"></md-datepicker>
    </div>
  </md-menu-item>
  <md-divider></md-divider>
  <md-select ng-model="dayTime" placeholder="" class="md-no-underline">
         <md-option value="8.00 AM">Morning</md-option>
         <md-option value="1.00 PM">AfterNoon</md-option>
         <md-option value="6.00 PM">Milk</md-option>
         <md-option value="9.00 PM">Wine</md-option>
       </md-select>
  <md-divider></md-divider>
</div> -->
