<div layout="row" layout-padding layout-align="space-around" class="login-div">
  <md-card class="padded md-whiteframe-24dp md-padding" style="width:400px;">
    <md-toolbar style="text-align:center;color:white;background-color:#ED9626">
      <h3><b>Reset Password</b></h3>
    </md-toolbar>
    <form role="form" name="resetpasswordForm">
      <md-input-container class="md-block" >
        <input required type="password" name="userPassword" id="password" ng-model="Password"  placeholder="Password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" />
        <div ng-messages="resetpasswordForm.userPassword.$error">
          <div ng-message-exp="['required','pattern' ]">
            Invalid password.
          </div>
        </div>
      </md-input-container>
  <md-button type="submit" class="md-raised md-primary button" ng-disabled="!resetpasswordForm.$valid"
  ng-click="resetPassword()"
   style="margin:auto;display:block">Reset</md-button>
 </form>
</md-card>
</div>
