<div>
  <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop>
    <md-list>
      <md-list-item ng-click="goToDashboard();">
        <div layout="row" layout-align="center-center">
          <md-icon><img src="images/bulb.svg" /></md-icon>
          <p class="sidebar-para">Notes</p>
        </div>
      </md-list-item>
      <md-list-item ng-click="null">
        <div layout="row">
          <md-icon><img src="images/reminder.svg" /></md-icon>
          <p class="sidebar-para">Reminder</p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-click="">
        <div layout="row">
          <p class="sidebar-para">Label</p>
        </div>
      </md-list-item>

      <!-- <md-list-item ng-click="null">
     <div layout="row">
       <md-icon><img src="images/installsoftwear.svg" /></md-icon>
     <p class="sidebar-para">Software Install</p>
   </div>
   </md-list-item> -->

      <md-list-item ng-click="showLabel($event)">
        <div layout="row">
          <md-icon><img src="images/label.svg" /></md-icon>
          <p class="sidebar-para">Create new Label</p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-click="goToArchive()">
        <div layout="row">
          <md-icon ><img src="images/archive.svg" /></md-icon>
          <p class="sidebar-para">Archive</p>
        </div>
      </md-list-item>
      </md-list-item >
      <md-list-item ng-click="goTotrash()">
        <div layout="row">
          <md-icon><img src="images/trash.svg" /></md-icon>
          <p class="sidebar-para">Trash</p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-click="null">
        <div layout="row">
          <md-icon><img src="images/setting.svg" /></md-icon>
          <p class="sidebar-para">Setting</p>
        </div>
      </md-list-item>
      <md-list-item ng-click="null">
        <div layout="row">
          <md-icon><img src="images/feedback.svg" /></md-icon>
          <p class="sidebar-para">Send feedback</p>
        </div>
      </md-list-item>
      <md-list-item ng-click="null">
        <div layout="row">
          <md-icon><img src="images/help.svg" /></md-icon>
          <p class="sidebar-para">Help</p>
        </div>
      </md-list-item>
      <md-list-item ng-click="null">
        <div layout="row">
          <md-icon><img src="images/appdownloads.svg" /></md-icon>
          <p class="sidebar-para">App downloads</p>
        </div>
      </md-list-item>
      <md-list-item ng-click="null">
        <div layout="row">
          <md-icon><img src="images/keyboardshortcut.svg" /></md-icon>
          <p class="sidebar-para">Keyboard shortcuts</p>
        </div>
      </md-list-item>
      <!-- <md-list-item>
   <div layout="row">
     <md-icon><img src="images/keyboardshortcut.svg" /></md-icon>
   <p class="sidebar-para">Keyboard shortcuts</p>
 </div>
 </md-list-item>
 <md-list-item>
   <div layout="row">
     <div><md-icon><img src="images/keyboardshortcut.svg" /></md-icon></div>
   <p class="sidebar-para">Keyboard shortcuts</p>
 </div>
 </md-list-item> -->
    </md-list>
  </md-sidenav>
</div>
