<div>
  <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop>
    <md-list>
      <md-list-item ng-click="goToDashboard();">
        <div layout="row" layout-align="center-center">
          <md-icon md-svg-icon="images/bulb.svg"></md-icon>
          <p class="sidebar-para">Notes</p>
        </div>
      </md-list-item>
      <md-list-item ng-click="goToReminder()">
        <div layout="row">
          <md-icon md-svg-icon="images/reminder.svg"></md-icon>
          <p class="sidebar-para">Reminder</p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-click="">
        <div layout="row" layout-align="space-between center">
          <div>Label</div>
          <div ng-click="showLabel($event)" style="margin-left:120px;font-weight: bold;font-size: 13px;cursor:pointer">EDIT</div>
        </div>
      </md-list-item>
      <md-list-item ng-repeat="labels in allLabels" ng-click="goToLabel(labels)">
        <div layout="row" layout-align="space-between center">
          <md-icon md-svg-icon="images/installsoftwear.svg"></md-icon>
          <div class="md-list-item" style="font-size:13px;  margin-left: 30px;">{{ labels.label}}</div>
        </div>
      </md-list-item>
      <md-list-item ng-click="showLabel($event)">
        <div layout="row">
          <md-icon md-svg-icon="images/label.svg"></md-icon>
          <p class="sidebar-para">Create new Label</p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-click="goToArchive()">
        <div layout="row">
          <md-icon md-svg-icon="images/archive.svg"></md-icon>
          <p class="sidebar-para">Archive</p>
        </div>
      </md-list-item>
      </md-list-item>
      <md-list-item ng-click="goTotrash()">
        <div layout="row">
          <md-icon md-svg-icon="images/trash.svg"></md-icon>
          <p class="sidebar-para">Trash</p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </md-sidenav>
</div>
