<div>
<md-toolbar layout="row" layout-align="space-around center" class="toolbar" style="background-color:#FB0;position:fixed" flex="100">
  <div layout="row" layout-align="space-around center">
    <md-button class="md-icon-button" ng-click="toggleLeft(); ">
      <md-icon><img src="images/menu.svg" /></md-icon>
      <md-tooltip>Menu</md-tooltip>
    </md-button>
  </div>
  <div>Fundo Note</div>
  <div class="search-box">
    <md-button class="md-icon-button"><img src="images/search.svg" /></md-button>
    <input placeholder="Search" style="width:550px;height: 50px ;border:none;outline:none" style="" />
    <md-button class="md-icon-button">
      <md-icon><i class="material-icons pointer"><font color="black">close</font></i></md-icon>
    </md-button>
    <md-tooltip>Search</md-tooltip>
  </div>
  <div>
    <md-button class="md-icon-button">
      <md-icon><img src="images/replay.svg" /></md-icon>
      <md-tooltip>Refresh</md-tooltip>
    </md-button>
  </div>
  <div>
    <md-button class="md-icon-button">
      <md-icon><img src="images/viewstream.svg" /></md-icon>
      <md-tooltip>List View</md-tooltip>
    </md-button>
  </div>
  <div>
    <md-button class="md-icon-button">
      <md-icon><img src="images/googleapp.svg" /></md-icon>
      <md-tooltip>Google Apps</md-tooltip>
    </md-button>
  </div>
  <div>
    <md-button class="md-icon-button">
      <md-icon><img src="images/notification.svg" /></md-icon>
      <md-tooltip>Notification</md-tooltip>
    </md-button>
  </div>
  <div>
    <md-button class="md-icon-button" ng-click="logOut();">
      <md-icon><i class="material-icons">account_circle</i></md-icon>
      <md-tooltip>Google Account</md-tooltip>
    </md-button>
  </div>
</md-toolbar>


<div style="margin-left:950px;padding-top: 65px;position: absolute;z-index:0" ng-show="logoutCard">
  <md-card style="width:300px;height:100px;">
    <div layout="row" style="">
      <div class="profile-image" >
        <img src="images/gayatri.png" style="width:100px">
      </div>
      <div layout="column" style="width:260px">
        <div>Gayatri Kawade</div>
        <div>gayatrikawade80@gmail.com</div>
        <div>
          <md-button ng-click="goToLogin()">Log Out</md-button>
        </div>
      </div>
    </div>
  </md-card>
</div>
</div>
